.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  padding: 5px;
}
.about h2 {
  margin-block-start: 0;
  margin-block-end: 0.5em;
}
.about p {
  font-size: smaller;
  margin-block-end: 2.5em;
}

.about p a {
  text-decoration: none;
  color: rgb(21, 107, 21);
}

.about a.ExternalLink > span {
  position: absolute;
  margin-left: 4.7em;
  margin-top: 0.9em;
  background: crimson;
  color: whitesmoke;
  padding: 3px;
  border-radius: 3px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.9s;
}

.about a.ExternalLink:hover > span,
.about a.ExternalLink:focus > span,
.about a.ExternalLink:active > span {
  display: block;
  position: absolute;
  opacity: 1;
}

.winner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.winner-wrapper > h3 {
  font-weight: lighter;
}

.winner-wrapper h3 > span {
  font-style: italic;
}

.winner-wrapper img.PrevWinnerImage {
  object-fit: cover;
  width: 250px;
  height: 400px;
  filter: saturate(1);
  margin-top: 1.1em;
}

.winner-wrapper p.PrevWinnerDescription {
  font-size: 16px;
}

@media only screen and (min-width: 410px) {
  .about h2 {
    height: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .winner-wrapper img.PrevWinnerImage {
    width: 300px;
    height: 500px;
  }
}

@media only screen and (min-width: 800px) {
  .winner-wrapper img.PrevWinnerImage {
    width: 400px;
    height: 600px;
  }
}

@media only screen and (min-width: 1000px) {
  .winner-wrapper img.PrevWinnerImage {
    width: 500px;
    height: 800px;
  }
}
