.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}
.about h2 {
  height: 20px;
}

.about p {
  font-size: smaller;
}

.about p a {
  text-decoration: none;
  color: rgb(21, 107, 21);
}

.about a.ExternalLink > span {
  position: absolute;
  margin-left: 4.7em;
  margin-top: 0.9em;
  background: crimson;
  color: whitesmoke;
  padding: 3px;
  border-radius: 3px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.9s;
}

.about a.ExternalLink:hover > span,
.about a.ExternalLink:focus > span,
.about a.ExternalLink:active > span {
  display: block;
  position: absolute;
  opacity: 1;
}

.winner-wrapper {
  display: grid;
  margin: 10px 5px;
  padding: 5px;
  grid-template-columns: 180px 400px;
  grid-gap: 5px;
}

.winner-wrapper > h3 {
  margin-right: 10px;
  font-weight: lighter;
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: left;
}

.winner-wrapper h3 > span {
  font-style: italic;
}

.winner-wrapper img.PrevWinnerImage {
  grid-column-start: 1;
  filter: saturate(1);
}

.winner-wrapper p.PrevWinnerDescription {
  grid-column-start: 2;
  font-size: 16px;
}
