.HowItWorks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HowItWorks > h2 {
  font-family: 'Roboto Slab', serif;
  margin-block: 0;
}

.HowItWorks > ol > li {
  max-width: 25em;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

.HowItWorks > ol > li > a {
  text-decoration: none;
  color: rgb(21, 107, 21);
}
