.MovieList {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}

li {
  margin: 5px;
  padding: 5px;
}

.image-wrapper {
  position: relative;
  transition: transform 0.2s;
}

.image-wrapper:hover {
  transform: scale(1.1);
  filter: saturate(1);
  box-shadow: 0 0 7px rgb(58, 216, 71);
}

.image-wrapper .nominate-wrapper {
  position: absolute;
  opacity: 1;
  color: aquamarine;
  background: rgba(25, 31, 24, 0.8);
  width: 110px;
  transition: 0.5s ease;
  bottom: 0;
  font-size: 20px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.image-wrapper:hover .nominate-wrapper {
  opacity: 1;
}

img {
  border-radius: 10px;
  object-fit: cover;
  width: 150px;
  height: 225px;
  filter: saturate(0);
  transition: 0.3s ease all;
}

img:hover {
  filter: saturate(1);
}
