.MovieList {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.MovieList > ul {
  list-style: none;
  display: flex;
  padding: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: visible;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

li {
  margin: 0 10px 7px 0;
  scroll-snap-align: end;
}

.image-wrapper {
  position: relative;
  border: none;
  transition: transform 0.2s;
}

.image-wrapper:hover .green-glow,
.image-wrapper:focus .green-glow {
  transform: scale(1.1);
  filter: saturate(1);
  box-shadow: 0 0 15px 10px greenyellow;
  overflow-x: visible;
  transition: transform 0.2s;
}

.image-wrapper:hover .red-glow,
.image-wrapper:focus .red-glow {
  transform: scale(1.1);
  filter: saturate(1);
  box-shadow: 0 0 15px 10px red;
  overflow-x: visible;
  transition: transform 0.2s;
}

.image-wrapper .nominate-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  color: white;
  background: rgba(25, 31, 24, 0.639);
  width: 160px;
  transition: 0.5s ease;
  bottom: 0;
  font-size: 18px;
  padding: 20px;
  font-family: 'Roboto Slab', serif;
}

.image-wrapper:hover .nominate-wrapper,
.image-wrapper:focus .nominate-wrapper {
  opacity: 1;
}

img {
  object-fit: cover;
  width: 200px;
  height: 300px;
  filter: saturate(0);
  transition: 0.3s ease all;
}

img:hover {
  filter: saturate(1);
}

img .nominate-wrapper:hover {
  filter: saturate(1);
}

.titleYear {
  font-size: 14px;
}

@media only screen and (min-width: 450px) {
  .MovieList > ul {
    flex-direction: row;
    height: 400px;
    align-items: center;
  }
}
