.NomTracker {
  background: linear-gradient(
    136deg,
    rgba(149, 191, 71, 255),
    rgba(94, 142, 62, 255)
  );
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 0;
  height: 30px;
}

.NomTracker > h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

@media only screen and (min-width: 600px) {
  .NomTracker {
    margin: 10px 0 35px 0;
  }
}
