.NomTracker {
  background: linear-gradient(
    136deg,
    rgba(149, 191, 71, 255),
    rgba(94, 142, 62, 255)
  );
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 0;
}

.NomTracker > p {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0 5px;
  padding: 5px;
}

@media only screen and (min-width: 600px) {
  .NomTracker {
    font-size: 16px;
    margin: 10px 0 35px 0;
    height: 30px;
  }
}
