h2 {
  font-family: 'Barrio', sans-serif;
  margin: 10px;
}

.SearchBar {
  display: flex;
  justify-content: center;
}

input {
  font-family: 'Roboto Slab', serif;
  border: 2px solid black;
  padding: 5px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

input:focus {
  box-shadow: 0 0 7px rgb(58, 216, 71);
  border: 1px solid rgba(42, 199, 55, 1);
}
