h2 {
  font-family: 'Barrio', sans-serif;
  margin: 10px 10px 15px 0;
}

.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

input {
  font-family: 'Roboto Slab', serif;
  border: 2px solid black;
  padding: 10px 5px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  transition: 0.2s ease all;
}

input:hover {
  box-shadow: 0 0 7px rgb(247, 139, 92);
  transition: 0.2s ease all;
}

input:focus {
  box-shadow: 0 0 7px rgb(58, 216, 71);
  border: 1px solid rgba(42, 199, 55, 1);
}

@media only screen and (min-width: 600px) {
  .SearchBar {
    flex-direction: row;
  }
}
